body {
  text-align: center;
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-size: 100% auto;
  background-repeat: repeat;
  font-family: bouwsma_uncial;
  height: 100vh;
  margin: 22px;
  margin-bottom: 22px;
}

h1 {
  color: rgb(237, 202, 176);
  text-align: center;
  background-color: rgb(66, 33, 9);
  height: 11vh;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgb(65, 30, 5) 3%,
    rgb(65, 30, 5) 97%,
    transparent 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-bottom: 11px;
}

h3 {
  text-align: center;
  font-size: 22px;
  letter-spacing: 1.5px;
  color: rgb(66, 33, 9);
  justify-content: center;
  margin: 0;
  margin-bottom: 22px;
}

@font-face {
  font-family: bouwsma_uncial;
  src: url(../fonts/bouwsma_uncial/BouwsUnc.ttf);
}

/* button build and styling */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(237, 202, 176);
  border: 2px solid rgb(188, 144, 111);
  border-radius: 5px;
  font-family: bouwsma_uncial;
  font-size: 19px;
  letter-spacing: 0.7px;
  color: rgb(66, 33, 9);
  transition: background-color 0.33s ease;
}

button:hover {
  background-color: rgb(66, 33, 9);
  color: rgb(237, 202, 176);
  cursor: pointer;
}

button:active {
  background-color: rgb(188, 144, 111);
  color: rgb(66, 33, 9);
  transform: scale(0.97);
}

/* card build and layout */
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80px;
  height: 133px;
  background-image: url("../images/backOfCard.jpg");
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  border: 2px solid whitesmoke;
  border-radius: 7px;
  margin-bottom: 22px;
  margin-right: 22px;
}

.flip {
    transform: rotateY(180deg);
  }