body {
    text-align: center;
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-size: 100% auto;
    background-repeat: repeat;
    font-family: bouwsma_uncial;
    height: 100vh;
    margin: 0;
    margin-bottom: 7em;
  }

  h1 {
    color: rgb(237, 202, 176);
    text-align: center;
    background-color: rgb(66, 33, 9);
    height: 11vh;
    background: linear-gradient(
      to right,
      transparent 0%,
      rgb(65, 30, 5) 3%,
      rgb(65, 30, 5) 97%,
      transparent 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-bottom: 11px;
  }

  h3 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: rgb(66, 33, 9);
    justify-content: center;
    margin: 0;
    margin-bottom: 22px;
  }

  P {
    font-family: bouwsma_uncial;
    font-size: 33px;
    color: rgb(237, 202, 176);
    margin-top: 111px;
  }

  @font-face {
    font-family: bouwsma_uncial;
    src: url(../fonts/bouwsma_uncial/BouwsUnc.ttf);
  }